*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: orange;
    padding: 20px;
}

.bg-green {
    background-color: green;
}

.big {
    padding: 40px;
}

.big.bg-green {
    background-color: blue;
}

.text-underline{
    text-decoration: underline;
}

p.text-underline{
    color: brown;
}

