body { background-color: grey;}


h1 {background-color: brown; 
color: white; 
width: 300px; 
padding: 10px}


p {background-color: beige; 
color: black;
width: 300px;
padding: 10px;
box-sizing: border-box;}

