p {
    /* color: purple; */
    /* text-decoration: underline line-through; */
    font-size: 20px ;
    font-weight: bold;
    font-family: "Brush Script MT", cursive;
}

#p2 {
    color: #2ad7b7b6;
    font-family: Georgia, serif;
}

a {
    color: red;
    /* text-decoration: none ; */
    text-decoration-color: yellow ;
}

h1 {
    font-weight: bold;
}

